<div class="homepage" id="home_page" style="padding-top:0px;z-index: -1;">
  <div class="hero-container clear " style="margin-bottom: 0px;">
    <a style="background-image: url(&#39;https://harrysx-a.akamaihd.net/assets/images/hero_background_desktop_images/attachments/66e7f1b6f3706759d68d841d3f50b125722c7ee8.jpg&#39;); height: 500.0px;"
      routerLink="/fatherDay">
      <div class="hero-text-container" style="top: 0px; left: -160px; padding:0">
        <div class="hero-header text-dark-blue">Make the Present<br>Moment Count</div>
        <div class="hero-subheader text-dark-blue">This Father's Day set is for the dads<br>who make the most of every moment</div>
        <div class="hero-cta medium-button">SHOP FOR DAD</div>
      </div>
    </a>
    <div class="getFree">Not looking for a gift? Get a free trial when you&nbsp;sign&nbsp;up—just&nbsp;cover&nbsp;shipping. <a routerLink="/plan"
        class="trial">Start Trial</a></div>
  </div>

  <section class="wrapper">
    <div class="shelf-container">
        <div class="shelf-info">
            <div class="shelf-title" id="featured-products">Featured&nbsp;Products</div>
            <div class="shelf-subtitle">All&nbsp;designed and formulated for a quality&nbsp;shave.</div>
        </div>

        <div class="shelf-row">
            <div class="shelf-tile"><a class="shelf-item color-picker" data-impressionable="true" data-position="0" data-list="featured-products" data-id="494" data-name="Truman Set" data-price="15.0"  href="https://www.harrys.com/products/the-truman-set?h_id=494&amp;h_position=0&amp;h_list=featured-products">
    <div class="item-image"><img class="product-shot" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/index_images/attachments/551f682db5a708e31b1881a1d9943da93f626e7f.jpg" src="assets/94849e8c3594aede6ac5383e90c1bba37ac2a8d3.jpg" alt="94849e8c3594aede6ac5383e90c1bba37ac2a8d3"></div>
    <div class="item-info">
        <div class="callout-text top-callout "></div>
        <div class="product-price-container"><div class="price-and-divider"><span class="price-text">$15</span><span class="vertical-divider">&nbsp;&nbsp;|&nbsp;&nbsp;</span></div><div class="product-name-text">Truman&nbsp;Set</div></div>
        <div class="colors"><div class="outer-circle active" data-preload-image="https://harrysx-a.akamaihd.net/assets/images/index_images/attachments/94849e8c3594aede6ac5383e90c1bba37ac2a8d3.jpg" data-preload-image-2x="https://harrysx-a.akamaihd.net/assets/images/index_images/attachments/551f682db5a708e31b1881a1d9943da93f626e7f.jpg">
        <span class="total-orange"><i class="top"></i><i class="bottom"></i></span></div><div class="outer-circle" data-preload-image="https://harrysx-a.akamaihd.net/assets/images/index_images/attachments/520cf74e3af959a832fd6a1c4bbc829db9e98e8d.jpg" data-preload-image-2x="https://harrysx-a.akamaihd.net/assets/images/index_images/attachments/c90278b7b1dbf760792ebb096cee76b5cdaeb3b8.jpg">
        <span class="nautilus-blue"><i class="top"></i><i class="bottom"></i></span></div><div class="outer-circle" data-preload-image="https://harrysx-a.akamaihd.net/assets/images/index_images/attachments/c3f11094c1c83c9f3fc2c2760ddd45b3fec8bb12.jpg" data-preload-image-2x="https://harrysx-a.akamaihd.net/assets/images/index_images/attachments/2b93aee87e0a45dcc83b822cbd2c7944ce7273b6.jpg">
        <span class="olive-107"><i class="top"></i><i class="bottom"></i></span></div></div>
        <div class="bottom-callout"><span class="callout-text popular">Most Popular</span></div>
</div></a>
</div><div class="shelf-tile"><a class="shelf-item" data-impressionable="true" data-position="1" data-list="featured-products" data-id="693" data-name="Father&#39;s Day Shave Set" data-price="30.0" href="https://www.harrys.com/products/fathers-day-set?h_id=693&amp;h_position=1&amp;h_list=featured-products">
    <div class="item-image"><img class="product-shot" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/index_images/attachments/65188b1fe6ead7c8f847656a723358fdec32ca5a.jpg" src="assets/cc5a7be517cf259084c18e1aebee270fc9d5aab4.jpg" alt="Cc5a7be517cf259084c18e1aebee270fc9d5aab4"></div>
    <div class="item-info">
        <div class="callout-text top-callout "></div>
        <div class="product-price-container"><div class="price-and-divider"><span class="price-text">$30</span><span class="vertical-divider">&nbsp;&nbsp;|&nbsp;&nbsp;</span></div><div class="product-name-text">Father's&nbsp;Day Shave&nbsp;Set</div></div>

        <div class="bottom-callout"><span class="callout-text limited">Limited Edition</span></div>
</div></a>
</div><div class="shelf-tile"><a class="shelf-item" data-impressionable="true" data-position="2" data-list="featured-products" data-id="489" data-name="Harry&#39;s Blades" data-price="16.0" href="https://www.harrys.com/products/harrys-blades?h_id=489&amp;h_position=2&amp;h_list=featured-products">
    <div class="item-image"><img class="product-shot" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/index_images/attachments/593da145b1de0de96683e746a68b7a602e2be614.jpg" src="assets/598c604085810cbdda46813db38ed1ba69567a8e.jpg" alt="598c604085810cbdda46813db38ed1ba69567a8e"></div>
    <div class="item-info">
        <div class="callout-text top-callout "></div>
        <div class="product-price-container"><div class="price-and-divider"><span class="price-text">$2 or less</span><span class="vertical-divider">&nbsp;&nbsp;|&nbsp;&nbsp;</span></div><div class="product-name-text">Harry's&nbsp;Blades</div></div>

        <div class="bottom-callout"><span class="callout-text "></span></div>
</div></a>
</div>
        </div>
    </div>
    <div class="divider-line"></div>
</section>

<div class="secondary-hero-container clear">
    <a class="secondary-hero-tile" style="background-image: url(&#39;https://harrysx-a.akamaihd.net/assets/images/secondary_hero_background_desktop_images/attachments/7e342edf020297cb1a15d3b4823a9ac83d25b1a3.jpg&#39;);" data-bg-scale-2x="https://harrysx-a.akamaihd.net/assets/images/secondary_hero_background_desktop_images/attachments/ecfc0bb5459af3b0e6881b608f645c34c7720e0b.jpg" href="https://www.harrys.com/trial?h_type=secondary_hero_click&amp;h_name=shave_plan_still">
    <div class="text-container text-center text-left text-dark-blue">
        <div class="header">Looking to save<br>even more?<br>Check out our<br>Shave Plans.</div>
        <div class="subheader"></div>
        <div class="cta"><span>Try For Free</span></div>
</div></a>
    <a class="secondary-hero-tile" style="background-image: url(&#39;https://harrysx-a.akamaihd.net/assets/images/secondary_hero_background_desktop_images/attachments/db8277dbd27de650e68399c21deba221f1743118.jpg&#39;);" data-bg-scale-2x="https://harrysx-a.akamaihd.net/assets/images/secondary_hero_background_desktop_images/attachments/d0d6b4d1cbdde633fc9240054042747915196239.jpg" href="https://www.harrys.com/products/post-shave-balm?h_type=secondary_hero_click&amp;h_name=Post%20Shave%20Balm">
    <div class="text-container text-center text-left text-dark-blue">
        <div class="header">Post Shave Balm</div>
        <div class="subheader">The perfect way to soothe<br>after your shave.</div>
        <div class="cta"><span>SHOP NOW</span></div>
</div></a>
</div>

<div class="more-from-harrys">
    <div class="more-from-harrys--lead">
        <div class="more-from-harrys--lead--heading">
            More from Harry's
        </div>
        <div class="more-from-harrys--lead--subheading">
            We do more than make razors, you know.
        </div>
    </div>

    <a class="more-from-harrys--tile" href="http://fiveoclock.harrys.com/">
    <div class="more-from-harrys--tile--image-container">
        <div class="more-from-harrys--tile--image-container--hover">
            <span class="more-from-harrys--tile--image-container--hover--button">
                Go To Magazine
            </span>
        </div>
        <img class="more-from-harrys--tile--image-container--image" src="assets/1bf09a3c7dc7952c802b89c93b827afa060f4e6d.jpg" alt="1bf09a3c7dc7952c802b89c93b827afa060f4e6d">
    </div>

    <div class="more-from-harrys--tile--heading">
        Five O' Clock Magazine
    </div>

    <div class="more-from-harrys--tile--subheading">
        Undiscovered moments, advice, and generally<br>useful information for a well-lived life.
    </div>
</a><a class="more-from-harrys--tile" href="https://www.harrys.com/cornershop">
    <div class="more-from-harrys--tile--image-container">
        <div class="more-from-harrys--tile--image-container--hover">
            <span class="more-from-harrys--tile--image-container--hover--button">
                Visit the Shop
            </span>
        </div>
        <img class="more-from-harrys--tile--image-container--image" src="assets/30be6d39888bcf619a22dfa9f9fe4083eb746add.jpg" alt="30be6d39888bcf619a22dfa9f9fe4083eb746add">
    </div>

    <div class="more-from-harrys--tile--heading">
        Harry's Corner Shop
    </div>

    <div class="more-from-harrys--tile--subheading">
        Our first barber shop and retail store is open<br>in New York City. Come have a look around.
    </div>
</a><a class="more-from-harrys--tile" href="https://www.harrys.com/our-factory">
    <div class="more-from-harrys--tile--image-container">
        <div class="more-from-harrys--tile--image-container--hover">
            <span class="more-from-harrys--tile--image-container--hover--button">
                See the Factory
            </span>
        </div>
        <img class="more-from-harrys--tile--image-container--image" src="assets/542c56c611385f0762038b75704eef5fdbb5868c.jpg" alt="542c56c611385f0762038b75704eef5fdbb5868c">
    </div>

    <div class="more-from-harrys--tile--heading">
        Our Factory
    </div>

    <div class="more-from-harrys--tile--subheading">
        Your shave is going to get even better.<br>See our German blade factory.
    </div>
</a>
</div>
</div>
