<div class="grid" itemscope="" itemtype="http://schema.org/Product">

  <section class="product-page-hero-container" data-modifiers="[&quot;soft_product_type&quot;, &quot;is_engravable&quot;]">
    <div class="product-page-hero">
      <div class="hero-wrap" style="z-index:0">
        <div class="hero-galleries-container">
          <div class="quality-guaranteed" style="visibility: visible;">
            <div class="quality-guaranteed-seal"></div>
            <span class="tooltip-link" data-tooltip="true" data-tooltip-div="quality-guaranteed-tooltip" data-tooltip-content="If you don&#39;t love your first order, it&#39;s on us. Return your products within 30 days of receipt for a full refund. Contact us at help@harrys.com and we&#39;ll take care of you." data-tooltip-orientation="reverse" data-tooltip-title="Quality Guaranteed">

                  Learn More
            <div class="tooltip" style="top: 49px; right: -113.5px; visibility: hidden; opacity: 0;"><span class="tooltip-title">Quality Guaranteed</span><span class="tooltip-text">If you don't love your first order, it's on us. Return your products within 30 days of receipt for a full refund. Contact us at help@harrys.com and we'll take care of you.</span><div class="quality-guaranteed-tooltip"></div></div></span>
          </div>

          <div class="product-hero gallery" data-current-hero="false" data-hero-type="gallery" data-hero-id="694">
            <ul class="frame">
              <li data-id="0" class="large-image active">
                <img alt="Father&#39;s Day Shave Set" itemprop="image" data-preload="694" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/cff665d55e8a3638190364d4ffaeef35374b50e0.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/953c204526219ed702eb41741c52a2a7e0e1f562.jpg" src="assets/father/cff665d55e8a3638190364d4ffaeef35374b50e0.jpg">
              </li>                        <li data-id="1" class="large-image">
              <img alt="Father&#39;s Day Shave Set" itemprop="image" data-preload="694" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/7ef824c997516a531ac52a8aed456ee695c0e259.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/30b6f1233e8c2ee1a5e8043dbe5d80d3fba4c2ca.jpg" src="https://:0/">
            </li>                        <li data-id="2" class="large-image">
              <img alt="Father&#39;s Day Shave Set" itemprop="image" data-preload="694" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/6d8667885729f80e42cf48fbd68ef5ad8773ed96.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/9d58ebaef59c4ade7ef8a1542d940fd609d1da5f.jpg" src="https://:0/">
            </li>                        <li data-id="3" class="large-image">
              <img alt="Father&#39;s Day Shave Set" itemprop="image" data-preload="694" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/57c460ec237f75cb1d626af0bff357bc737a9dab.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/3d50a577fd96827fa168164ab2a4d5d8a266223b.jpg" src="https://:0/">
            </li>                        <li data-id="4" class="large-image">
              <img alt="Father&#39;s Day Shave Set" itemprop="image" data-preload="694" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/add8b96633fdd30254d565b1d95b7c11b4c49d96.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/8c0b3a589ad89ccfc944882ddc58c5df6c6357b6.jpg" src="https://:0/">
            </li>                </ul>
          </div>            <div class="product-hero gallery" data-current-hero="false" data-hero-type="gallery" data-hero-id="695">
          <ul class="frame">
            <li data-id="0" class="large-image active">
              <img alt="Engraved Father&#39;s Day Shave Set" itemprop="image" data-preload="695" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/d55f53cb92c8e05e8a048ca004b58bd045a61f74.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/61480993554b2d8d4618f7a1535cc8b55d49db25.jpg" src="assets/father/d55f53cb92c8e05e8a048ca004b58bd045a61f74.jpg">
            </li>                        <li data-id="1" class="large-image">
            <img alt="Engraved Father&#39;s Day Shave Set" itemprop="image" data-preload="695" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/60c8d35e431ea8282083271e50722275dbcc96be.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/2762f435ca18d8ea89c6b6bee1af44d197b6369b.jpg" src="https://:0/">
          </li>                        <li data-id="2" class="large-image">
            <img alt="Engraved Father&#39;s Day Shave Set" itemprop="image" data-preload="695" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/bef7fa56aa74af242841a6e34469816fc7a0e9a1.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/693126e6f3979d4fa5cc74bbfa37e5e8ff4153fa.jpg" src="https://:0/">
          </li>                        <li data-id="3" class="large-image">
            <img alt="Engraved Father&#39;s Day Shave Set" itemprop="image" data-preload="695" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/e45eeccdc9449d8145b3e322a4e45425a267556c.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/c2b99e538e2f7ddd68bc701e2e2119ae252063fc.jpg" src="https://:0/">
          </li>                        <li data-id="4" class="large-image">
            <img alt="Engraved Father&#39;s Day Shave Set" itemprop="image" data-preload="695" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/99eb3aa9548c0861bf4498a96b55f4a7bf7a08c2.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/af90d420143c91f6c9a9f6c5f527aae3d637ff70.jpg" src="https://:0/">
          </li>                </ul>
        </div>            <div class="product-hero gallery" data-current-hero="false" data-hero-type="gallery" data-hero-id="696">
          <ul class="frame">
            <li data-id="0" class="large-image active">
              <img alt="Engraved Father&#39;s Day Shave Set" itemprop="image" data-preload="696" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/815a92b60f0e5440e63d5e2eaa91f2dd94840aec.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/501ee83fd930c2929b26a18d0aea5a5760f1d2a3.jpg" src="assets/father/815a92b60f0e5440e63d5e2eaa91f2dd94840aec.jpg">
            </li>                        <li data-id="1" class="large-image">
            <img alt="Engraved Father&#39;s Day Shave Set" itemprop="image" data-preload="696" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/72e006eb73e0355c1c5763652f805405f1ed64a6.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/4d8b68f8744a5d331eefd4e9391be9037f0cfd12.jpg" src="https://:0/">
          </li>                        <li data-id="2" class="large-image">
            <img alt="Engraved Father&#39;s Day Shave Set" itemprop="image" data-preload="696" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/e7653d3a06b541db2cceeb739feb1985ff80db1e.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/82ef2d994c210727841b80d73c2e92c382e4ca34.jpg" src="https://:0/">
          </li>                        <li data-id="3" class="large-image">
            <img alt="Engraved Father&#39;s Day Shave Set" itemprop="image" data-preload="696" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/f6e98bee6965219ca55e5a43cf4a0adb3582d161.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/9121de32c7195d8e11719ba2013ccfc173ba3186.jpg" src="https://:0/">
          </li>                        <li data-id="4" class="large-image">
            <img alt="Engraved Father&#39;s Day Shave Set" itemprop="image" data-preload="696" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/5d144b3ae5814c3d9181ed25612dec071b4f481c.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/ab3acaf12e07c19eb9661e64370efd649e95f318.jpg" src="https://:0/">
          </li>                </ul>
        </div>            <div class="product-hero gallery active" data-current-hero="true" data-hero-type="gallery" data-hero-id="693">
          <ul class="frame">
            <li data-id="0" class="large-image active">
              <img alt="Father&#39;s Day Shave Set" itemprop="image" data-preload="693" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/8ce16a989ec73435fbe2131b2d1d530d4e624804.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/3b969d9f588406c29bda71f48ac90328708b31f7.jpg" src="assets/father/8ce16a989ec73435fbe2131b2d1d530d4e624804.jpg">
            </li>                        <li data-id="1" class="large-image">
            <img alt="Father&#39;s Day Shave Set" itemprop="image" data-preload="693" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/aeeb7ae155a9ee76863bce916d2265eb9c3ceb79.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/47d3710b418cd0bde6c75be6083034368cfe02a7.jpg" src="https://:0/">
          </li>                        <li data-id="2" class="large-image">
            <img alt="Father&#39;s Day Shave Set" itemprop="image" data-preload="693" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/e3d20e553f931998db39c158c9f8bcb472ba626b.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/f3eeaf647e035a8e76483092631bd74e7ee5f89a.jpg" src="https://:0/">
          </li>                        <li data-id="3" class="large-image">
            <img alt="Father&#39;s Day Shave Set" itemprop="image" data-preload="693" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/d1b7a502f3f4ed03721976870d1954dfadcd7f7c.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/6c246ddd3ac50dc2b4eb6ad96a49b7c87af1e513.jpg" src="https://:0/">
          </li>                        <li data-id="4" class="large-image">
            <img alt="Father&#39;s Day Shave Set" itemprop="image" data-preload="693" data-src="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/aab1f1853566f359e15c0ba6ce88873353dc128d.jpg" data-src2x="https://harrysx-a.akamaihd.net/assets/images/hero_images/attachments/6d559c34d6af1661b7dcb7311ba480cd311158a3.jpg" src="https://:0/">
          </li>                </ul>
        </div>
        </div>
        <div class="hero-thumbnails-container">

          <div class="thumbnails" data-hero-id="694">

            <ul>
              <li class="thumbnail active" data-id="0">
                <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/f468c186a2e9756d5b47a2db0be47cc78f266d48.jpg" src="assets/father/f0de682561f0f9e8e640f471b804b0aeb1185bf2.jpg">

              </li>            <li class="thumbnail" data-id="1">
              <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/b2bc739f749d6c13afc690ed1762c6da1a20b556.jpg" src="assets/father/fbbe0283fc3252abb7ae963acf108bc1d3ee946c.jpg">

            </li>            <li class="thumbnail" data-id="2">
              <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/a6a9aa94856e951000799ca209d9ac68c4b5af30.jpg" src="assets/father/48f6e95eb22b4890021f011a1ed51d3b1b52da83.jpg">

            </li>            <li class="thumbnail" data-id="3">
              <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/9418696e61a8f9afd54c05874aefdfdcb5667c56.jpg" src="assets/father/ed6337d50e836f8c2acc7b0d0a806c222cfde98a.jpg">

            </li>            <li class="thumbnail" data-id="4">
              <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/be692b8b75b38689ab775747a80ecc86798a08fa.jpg" src="assets/father/89fca0ef4311c849ccfd65df99b3a0a384f58a4d.jpg">

            </li>    </ul>
          </div>
          <div class="gallery-selectors" data-hero-id="694">
            <div class="selector-wrapper">
              <span class="thumbnail active" data-id="0"></span>
              <span class="thumbnail" data-id="1"></span>
              <span class="thumbnail" data-id="2"></span>
              <span class="thumbnail" data-id="3"></span>
              <span class="thumbnail" data-id="4"></span>
            </div>
          </div>
          <div class="thumbnails" data-hero-id="695">

            <ul>
              <li class="thumbnail active" data-id="0">
                <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/86b48d328d6da7527337cb3726e12e22d254f150.jpg" src="assets/father/4af15ab727bcce73b9ce6a13812c7eccdbaf4e05.jpg">

              </li>            <li class="thumbnail" data-id="1">
              <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/062338547ebbef908c9ca1cefc26824343856d41.jpg" src="assets/father/82a952dbc8370c0b93282c251682647a6415d240.jpg">

            </li>            <li class="thumbnail" data-id="2">
              <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/48fb744cc6f0c7ec8e5d0ddb43d94458cd6b40c2.jpg" src="assets/father/26d2cc6646a071ad9ef6368dcdab0552e685ec8c.jpg">

            </li>            <li class="thumbnail" data-id="3">
              <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/038eac76edf69d0cd82687f9b27a3ed646728cb9.jpg" src="assets/father/e5bffb6e7d787f671840fb31ed436a079878bddd.jpg">

            </li>            <li class="thumbnail" data-id="4">
              <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/ba84013fdbc0068f1cadd7634817d411d696546d.jpg" src="assets/father/b9041a4399c67adc650757fd462a9b4edfebc0b2.jpg">

            </li>    </ul>
          </div>
          <div class="gallery-selectors" data-hero-id="695">
            <div class="selector-wrapper">
              <span class="thumbnail active" data-id="0"></span>
              <span class="thumbnail" data-id="1"></span>
              <span class="thumbnail" data-id="2"></span>
              <span class="thumbnail" data-id="3"></span>
              <span class="thumbnail" data-id="4"></span>
            </div>
          </div>
          <div class="thumbnails" data-hero-id="696">

            <ul>
              <li class="thumbnail active" data-id="0">
                <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/41e5beaeccd8976c99d7f9b2ead80ba25e31a241.jpg" src="assets/father/307e399dfbc56652d1e626b7bfe71a1a2a086511.jpg">

              </li>            <li class="thumbnail" data-id="1">
              <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/36742fc7ad8f1a3094c3b42b9653c50e5c27072a.jpg" src="assets/father/09337e65aed575d523dbc2c73fd2c17488b0d8f3.jpg">

            </li>            <li class="thumbnail" data-id="2">
              <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/9c50e371480e8dc3dbdde60dea7c00842c074c0f.jpg" src="assets/father/bb99c45b6271d41e8cd5f561a497a8a038c9b5f7.jpg">

            </li>            <li class="thumbnail" data-id="3">
              <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/4ae9d4b0854beca1dd3d594001908495a01c7db9.jpg" src="assets/father/a238d52b2dd7ab9db26393041fc0786a55c212eb.jpg">

            </li>            <li class="thumbnail" data-id="4">
              <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/f46199c304e62002a0ea6f5600230c22a11bfdce.jpg" src="assets/father/c54f915f266dd3210d01537466d4ab6322d6031b.jpg">

            </li>    </ul>
          </div>
          <div class="gallery-selectors" data-hero-id="696">
            <div class="selector-wrapper">
              <span class="thumbnail active" data-id="0"></span>
              <span class="thumbnail" data-id="1"></span>
              <span class="thumbnail" data-id="2"></span>
              <span class="thumbnail" data-id="3"></span>
              <span class="thumbnail" data-id="4"></span>
            </div>
          </div>
          <div class="thumbnails active" data-hero-id="693">

            <ul>
              <li class="thumbnail active" data-id="0">
                <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/8d94a1371743c78bc8d383a0d86a2ab5d2d28b62.jpg" src="assets/father/ea0d8507a17f62e13efa917aff67ceaf6e82c1a2.jpg">

              </li>            <li class="thumbnail" data-id="1">
              <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/2cd99ab464b481b6264f3861d55f6512f8111869.jpg" src="assets/father/c33b9407c27889bee569d2f6169590a5d0b7609e.jpg">

            </li>            <li class="thumbnail" data-id="2">
              <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/5ea46fdb0f35828a94217862a0786c297127b527.jpg" src="assets/father/a7c27132ebd95d77cab23e0c054dda96d18c311a.jpg">

            </li>            <li class="thumbnail" data-id="3">
              <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/a3245deb31d8b8ed98842e950b1bc4292c50f817.jpg" src="assets/father/22df63a9c5798babf8e22cba64f324ed5dd17332.jpg">

            </li>            <li class="thumbnail" data-id="4">
              <img alt="" data-scale-2x="https://harrysx-a.akamaihd.net/assets/images/hero_thumbnail_images/attachments/967d6688e4893328b1a2187de60a1d962fbc436d.jpg" src="assets/father/e49425b130de49a182bc59832bcf4a6ecda359b4.jpg">

            </li>    </ul>
          </div>
          <div class="gallery-selectors active" data-hero-id="693">
            <div class="selector-wrapper">
              <span class="thumbnail active" data-id="0"></span>
              <span class="thumbnail" data-id="1"></span>
              <span class="thumbnail" data-id="2"></span>
              <span class="thumbnail" data-id="3"></span>
              <span class="thumbnail" data-id="4"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="info-wrap">
        <div class="middle">
          <div class="name-price">
            <div class="name-text" itemprop="name">
              Father's&nbsp;Day Shave&nbsp;Set
            </div>

            <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                <span class="price" itemprop="price">
                    $30
                </span>
              <span class="price-text">

                </span>
            </div>

            <div class="description">
              This Father's Day Shave Set has all you need to get started with Harry's. A great shave at a fair price.
            </div>
            <ul>
              <li>Free U.S. Shipping for orders over $10</li>
              <li class="availability">Available in U.S. and Canada</li>
              <li class="ground-shipping active">Ground shipping only</li>
            </ul>
          </div>

          <section class="modifiers-form one-time" data-product-ids="694,695,696,693">

            <div class="modifiers">
              <input type="hidden" value="693" class="id">
              <div class="soft-product-selector" data-modifier="soft-product">
                <div class="option">
                  <input type="radio" name="_soft-product-selector" id="_shave_cream" value="shave_cream">
                  <label for="_shave_cream" class="radio"></label>
                  <label for="_shave_cream" class="text">
                    <div class="primary">shave cream</div>
                  </label>        </div>
                <div class="option">
                  <input type="radio" name="_soft-product-selector" id="_foaming_shave_gel" value="foaming_shave_gel" checked="checked">
                  <label for="_foaming_shave_gel" class="radio"></label>
                  <label for="_foaming_shave_gel" class="text">
                    <div class="primary">foaming gel</div>
                  </label>        </div>
              </div>




              <div class="quantity-selector clear" data-modifier="quantity">
                <div class="text float-left">
                  <div class="primary">Quantity</div>
                </div>

                <div class="float-right">
        <span class="decrease">
            <span class="h">
            </span>
        </span>

                  <input type="text" value="1" min="0" maxlength="2">

                  <span class="increase">
            <span class="h"></span>
            <span class="v"></span>
        </span>
                </div>

              </div>

              <div class="engraving-selector clear" data-modifier="single-engraving">
                <input id="engrave_picker" name="engravable" size="30" type="checkbox" data-unselected-value="no-engraving" data-selected-value="engraving">
                <label class="text float-left" for="engrave_picker">
                  <div class="primary">Engraving</div>
                  <div class="secondary">+ $10</div>
                </label>
                <label class="plus-box float-right" for="engrave_picker"></label>
                <input type="text" placeholder="HRY" class="text-input float-right" maxlength="3" id="engrave_text">
              </div>


            </div>


            <div class="description-add-cart-wrap">
              <ul>
                <li>Free U.S. Shipping for orders over $10</li>
                <li class="availability">Available in U.S. and Canada</li>
                <li class="ground-shipping active">Ground shipping only</li>
              </ul>

              <div class="buttons">
                <button name="button" type="submit" class="orange medium full add-to-cart ">Add to cart</button>

                <button name="button" type="submit" class="grey medium full sold-out hidden-button">Sold Out</button>

              </div>
              <div class="ground-shipping active">Ground shipping only</div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>


  <section class="full-image-container right-text fathers-day-2017-razor" style="background-color: #F7F7F7">

    <div class="image-container" style="background-image: url(&#39;https://harrysx-a.akamaihd.net/assets/images/full_images/attachments/8822dff2edeabd96a7206ec9a245ac3be26b4087.jpg&#39;);" data-bg-scale-2x="https://harrysx-a.akamaihd.net/assets/images/full_images/attachments/8822dff2edeabd96a7206ec9a245ac3be26b4087.jpg"></div>

    <div class="text-container">
      <div class="middle markdown">
        <div style="color:#263645"><div class="markdown--h3">One for the good guy.</div></div>

        <div class="body markdown--body" style="color:#263645"><div>Give Dad everything he needs for a memorable shave including a limited-edition storm gray handle.</div></div>


      </div>
    </div>
  </section>

  <section class="full-image-container left-text fathers-day-2017-stand" style="background-color: #F7F7F7">

    <div class="image-container" style="background-image: url(&#39;https://harrysx-a.akamaihd.net/assets/images/full_images/attachments/6c6d67d953ee022e6835590a2caee897778e1df8.jpg&#39;);" data-bg-scale-2x="https://harrysx-a.akamaihd.net/assets/images/full_images/attachments/6c6d67d953ee022e6835590a2caee897778e1df8.jpg"></div>

    <div class="text-container">
      <div class="middle markdown">
        <div style="color:#263645"><div class="markdown--h3">Make it personal.</div></div>

        <div class="body markdown--body" style="color:#263645"><div>Add a detail he’ll never forget with an engravable razor stand.</div></div>


      </div>
    </div>
  </section>

  <section class="full-image-container right-text fathers-day-2017-lp" style="background-color: #263645">

    <div class="image-container" style="background-image: url(&#39;https://harrysx-a.akamaihd.net/assets/images/full_images/attachments/738a99ceaebe25cecdf281013945de554b9308a9.jpg&#39;);" data-bg-scale-2x="https://harrysx-a.akamaihd.net/assets/images/full_images/attachments/738a99ceaebe25cecdf281013945de554b9308a9.jpg"></div>

    <div class="text-container">
      <div class="middle markdown">
        <div style="color:#FFFFFF"><div class="markdown--h3">Man of the Moment</div></div>

        <div class="body markdown--body" style="color:#FFFFFF"><div>This Father’s Day we’re celebrating the special moments dads share with their kids.</div></div>

        <a class="markdown--cta-link" href="https://www.harrys.com/fathers-day" style="color:#FFFFFF">SEE MORE</a>
      </div>
    </div>
  </section>
</div>
