<footer class="global-footer">
    <a href="https://itunes.apple.com/us/app/apple-store/id990024014?pt=108215816&amp;ct=20160127_www_app_landing&amp;mt=8" class="advert">
    <div class="table">
        <div class="middle">
            <img class="phone-icon" src="assets/iphone-f29239d12e77221abb79bfb8edb2c9b86ccf4c2ace29e706e10e1e5bd7b4deb5.png" alt="Iphone">
            <p class="text">
                <span class="headline">Introducing our app for iPhone</span>
                <span class="action">Learn More</span>
            </p>
        </div>
    </div>	
    </a>

    <div class="sections-wrapper">
        <div class="sections">
            <div class="section">
                <div class="group contact-group">
                    <h6 class="header">Contact</h6>

                    <a class="link line-break" href="mailto:help@harrys.com">help@harrys.com</a>
                    <a class="link line-break" href="tel:18882126855">888 212 6855</a>

                    <div class="links social-links">
                        <a class="link image facebook" href="http://facebook.com/hapostrophe"></a>
                        <a class="link image twitter" href="http://twitter.com/harrys"></a>
                        <a class="link image instagram" href="http://instagram.com/harrys"></a>
                        <a class="link image google" href="https://plus.google.com/108449012437955146892/"></a>
                    </div>
                </div>

                <div class="group hiring-group">
                    <h6 class="header">We're Hiring</h6>
                    <a class="link" href="https://boards.greenhouse.io/harrys">See Jobs</a>
                </div>
            </div>

            <div class="section">
                <div class="group copyright-group">
                    <p class="paragraph heavy">
                        <span class="no-break">© 2012 - 2017 Harry's, Inc.</span>
                        <span class="no-break">All Rights Reserved.</span>
                    </p>
                    <p class="paragraph copyright-paragraph">Harry's, H', Mammoth Design, Give a Shave, Truman, and HF are trademarks and/or registered trademarks of HF Global, Inc.</p>
                </div>

                <div class="group legal-group">
                    <a class="link" href="https://www.harrys.com/privacy-policy">Privacy Policy</a>
                    <a class="link" href="https://www.harrys.com/terms-of-service">Terms of Use</a>
                </div>

                <div class="group site-switch-group">
                    <a class="link" data-switch-to-desktop="">View Desktop Site</a>
                </div>
            </div>
        </div>
    </div>
</footer>