<section class="hero">
  <div class="hero--sub-heading">
    Subscribe to a
  </div>
  <h1 class="hero--heading">
    Shave Plan
  </h1>
  <p class="hero--paragraph">
    <span>Get Harry's delivered to your door for less than $2 per blade. Start with a free trial, just cover shipping.</span>
  </p>
  <a class="button -large -action" href="https://www.harrys.com/trial/build">Start Trial</a>
</section>

<section class="descriptions ">
  <div class="descriptions--item">
    <h2 class="descriptions--heading">Start for free.</h2>
    <p class="descriptions--description">Start shaving with our products – it’s free, just cover shipping.</p>
  </div>
  <div class="descriptions--item">
    <h2 class="descriptions--heading">Save every time.</h2>
    <p class="descriptions--description">Save on all your shaving products without sacrificing quality.</p>
  </div>
  <div class="descriptions--item">
    <h2 class="descriptions--heading">You’re in control.</h2>
    <p class="descriptions--description">You can modify or cancel your plan from your profile page.</p>
  </div>
</section>

<section class="works">
  <h1 class="works--heading">What you get on a Shave Plan</h1>

  <div class="works--cards">
    <div class="works--card">
      <h3 class="works--card--sub-heading">Ships Today</h3>
      <h2 class="works--card--heading">Try for Free</h2>
      <img class="works--card--image" alt="Try for Free" src="assets/plan/product-card-trial-6198e1b87b6bf947d1d10d46f53ecf7d1fc1c7046ef64db68e7eec10fa19e28b.jpg">
      <div class="works--card--pricing">Free Trial
        <br>
        <span class=""> Just cover $3 US Shipping </span>
      </div>
      <p class="works--card--description">Judge the quality of our products for yourself. Trial lasts about 2 weeks.</p>
    </div>
    <div class="works--card">
      <h3 class="works--card--sub-heading">Ongoing Shipments</h3>
      <h2 class="works--card--heading">Keep saving on your blades</h2>
      <img class="works--card--image" alt="Ongoing Shipments" src="assets/plan/product-card-ongoing-bladeonly-61e6ac036ad0550d6dca6e9e6e4a17ac7d907acd0163474a446efbcdd57b9887.jpg">
      <div class="works--card--pricing">8 Blades, $1.87 Each
        <br>
        <span class="works--card--pricing--callout"> Subscribe to Save </span>
      </div>
      <p class="works--card--description">You’ll get blades based on how often you shave. Free US shipping always.</p>
    </div>
  </div>

  <a class="button -large -action -mobile-full-width" href="https://www.harrys.com/trial/build">Start Trial</a>
</section>


<div class="trial-landing-page-components">
  <style>
    @media (min-width: 769px) {
      .full-image-container.free_trial_product_bullets {
        height: 434.0px;
      }
      .free_trial_product_bullets .image-container {
        padding-top: 434.0px;
        background-size: auto 434.0px;
      }
    }

    @media (min-width: 1024px) {
      .full-image-container.free_trial_product_bullets {
        height: 620.0px;
      }
      .free_trial_product_bullets .image-container {
        padding-top: 620.0px;
        background-size: auto 620.0px;
      }
    }

    @media (min-width: 1500px) {
      .full-image-container.free_trial_product_bullets {
        height: 620.0px;
        min-height: 620.0px;
        max-width: 1500px;
        margin: 0 auto;
      }
      .free_trial_product_bullets .image-container {
        background-size: cover;
        padding-top: 620.0px;
      }
    }
  </style>

  <section class="full-image-container left-text free_trial_product_bullets" style="background-color: #FFFFFF">

    <div class="image-container" style="background-image: url(&#39;https://harrysx-a.akamaihd.net/assets/images/full_images/attachments/78ef8c660810dd189d07303861e0927f9c734caf.jpg&#39;);" data-bg-scale-2x="https://harrysx-a.akamaihd.net/assets/images/full_images/attachments/78ef8c660810dd189d07303861e0927f9c734caf.jpg"></div>

    <div class="text-container">
      <div class="middle markdown">
        <div style="color:#263645"><div class="markdown--h2">Engineered for<br>quality and comfort.</div></div>

        <div class="body markdown--body" style="color:#666666"><ul class="markdown--ul">
          <li>Precision-honed edges</li>
          <li>Hinged cartridge for flexibility and control</li>
          <li>Delivers a crisp, comfortable shave</li>
        </ul></div>

        <a class="button markdown--cta-button -medium" style="background-color:#E34F30; border-color:#E34F30;" href="https://www.harrys.com/trial/build">Start Trial</a>
      </div>
    </div>
  </section>

  <style>
    .half-half-container.free_trial_price_comparison .image-container {
      background-color: #FFFFFF
    }

    /* leaving this here for future generations: http://stackoverflow.com/a/22211990 */
    @media (max-width: 540px) {
      .inline.free_trial_price_comparison .image-half {
        width: 100%;
        height: 0;
        padding-top: 114.81481481481481%;
      }
    }

    @media (min-width: 540px) and (max-width: 769px) {
      .inline.free_trial_price_comparison .image-half {
        padding-top: 620.0px;
      }
    }

    @media (min-width: 769px) {
      .half-half-container.free_trial_price_comparison {
        height: 434.0px;
      }
      .free_trial_price_comparison .image-container {
        padding-top: 434.0px;
        background-size: auto 434.0px;
      }
      .free_trial_price_comparison .image-half {
        padding-top: 434.0px;
        background-size: auto 434.0px;
      }
    }

    @media (min-width: 1024px) {
      .half-half-container.free_trial_price_comparison {
        height: 620.0px;
      }
      .free_trial_price_comparison .image-container {
        padding-top: 620.0px;
        background-size: auto 620.0px;
      }
      .free_trial_price_comparison .image-half {
        padding-top: 620.0px;
        background-size: auto 620.0px;
      }
    }

    @media (min-width: 1500px) {
      .full-bleed.full-image-container.free_trial_price_comparison {
        height: 620.0px;
        min-height: 620.0px;
        max-width: 1500px;
        margin: 0 auto;
      }
      .full-bleed.free_trial_price_comparison .image-half {
        background-size: contain;
        padding-top: 620.0px;
      }
    }
  </style>

  <!--<section class="half-half-container left-image free_trial_price_comparison inline">-->

    <!--<div class="image-container" style="background-color: #FFFFFF">-->
    <!--</div>-->
    <!--<div class="image-half" style="background-image: url(&#39;https://harrysx-a.akamaihd.net/assets/images/half_half_images/attachments/67fdc9d95116cfcc35c341114d8deeb374f13b64.jpg&#39;); background-color: #FFFFFF" data-bg-scale-2x="https://harrysx-a.akamaihd.net/assets/images/half_half_images/attachments/2f02c6552c0b62d655d6fea9dd44cc3f94cddd0d.jpg"></div>-->

    <!--<div class="text-container" style="background-color: #FFFFFF;">-->
    <!--</div>-->

    <!--<div class="text-half" style="background-color: #FFFFFF;">-->

        <!--<div class="middle">-->

          <!--<div class="floater markdown">-->
            <!--<div style="color:#263645"><div class="markdown&#45;&#45;h2">Quality blades for half the price.</div></div>-->

            <!--<div class="body markdown&#45;&#45;body" style="color:#666666"><div>We sell our blades to you directly from our factory in Germany. No middlemen, no upcharges. That's the Harry's way.</div></div>-->

            <!--<a class="button markdown&#45;&#45;cta-button -medium" style="background-color:#E34F30; border-color:#E34F30;" href="https://www.harrys.com/trial/build">Start Trial</a>-->
          <!--</div>-->

        <!--</div>-->
    <!--</div>-->

  <!--</section>-->

  <style>
    .half-half-container.free_trial_factory .image-container {
      background-color: transparent
    }

    /* leaving this here for future generations: http://stackoverflow.com/a/22211990 */
    @media (max-width: 540px) {
      .inline.free_trial_factory .image-half {
        width: 100%;
        height: 0;
        padding-top: 82.66666666666667%;
      }
    }

    @media (min-width: 540px) and (max-width: 769px) {
      .inline.free_trial_factory .image-half {
        padding-top: 446.4px;
      }
    }

    @media (min-width: 769px) {
      .half-half-container.free_trial_factory {
        height: 434.0px;
      }
      .free_trial_factory .image-container {
        padding-top: 434.0px;
        background-size: auto 434.0px;
      }
      .free_trial_factory .image-half {
        padding-top: 434.0px;
        background-size: auto 434.0px;
      }
    }

    @media (min-width: 1024px) {
      .half-half-container.free_trial_factory {
        height: 620.0px;
      }
      .free_trial_factory .image-container {
        padding-top: 620.0px;
        background-size: auto 620.0px;
      }
      .free_trial_factory .image-half {
        padding-top: 620.0px;
        background-size: auto 620.0px;
      }
    }

    @media (min-width: 1500px) {
      .full-bleed.full-image-container.free_trial_factory {
        height: 620.0px;
        min-height: 620.0px;
        max-width: 1500px;
        margin: 0 auto;
      }
      .full-bleed.free_trial_factory .image-half {
        background-size: contain;
        padding-top: 620.0px;
      }
    }
  </style>

  <section class="half-half-container right-image free_trial_factory full-bleed">

    <div class="image-container" style="background-color: transparent">
    </div>
    <div class="image-half" style="background-image: url(&#39;https://harrysx-a.akamaihd.net/assets/images/half_half_images/attachments/c45edac66ccad6bbd9551bf07cc626b58961b35f.jpg&#39;); background-color: transparent" data-bg-scale-2x="https://harrysx-a.akamaihd.net/assets/images/half_half_images/attachments/4a11944e45585227ec9430fc13fe7b638d95de4f.jpg"></div>

    <div class="text-container" style="background-color: #C4CDD0;">
    </div>

    <div class="text-half" style="background-color: #C4CDD0;">
      <div class="middle">

        <div class="floater markdown" style="height: 80%">
          <div style="color:#263645"><div class="markdown--h2">Made at our<br>German factory</div></div>

          <div class="body markdown--body" style="color:#666666"><div>Today, more than four hundred German engineers, designers, and production workers build and operate sophisticated equipment that produces millions of precision-honed blades per year.</div></div>

          <a class="markdown--cta-link" href="https://www.harrys.com/our-factory" style="color:#185674">SEE OUR FACTORY</a>
        </div>

      </div>
    </div>

  </section>

</div>

<section class="escape">
  <h4 class="escape--heading">Looking for something different?</h4>

  <div class="escape--routes">
    <a href="https://www.harrys.com/shave-plans/custom" class="escape--route">
      <span class="escape--route--label">Custom subscription without a trial</span>
    </a>
    <a href="https://www.harrys.com/products/the-truman-set" class="escape--route">
      <span class="escape--route--label">Shop Harry's without a subscription</span>
    </a>
  </div>
</section>



<div class="push"></div>

